In [1]:
import pandas as pd

In [2]:
df=pd.read_csv('http://bit.ly/kaggletrain')

In [3]:
df.shape

(891, 12)

In [4]:
df.columns

Index([u'PassengerId', u'Survived', u'Pclass', u'Name', u'Sex', u'Age',
       u'SibSp', u'Parch', u'Ticket', u'Fare', u'Cabin', u'Embarked'],
      dtype='object')

In [5]:
df.isnull().sum()

PassengerId      0
Survived         0
Pclass           0
Name             0
Sex              0
Age            177
SibSp            0
Parch            0
Ticket           0
Fare             0
Cabin          687
Embarked         2
dtype: int64

In [6]:
df.isna().sum()

PassengerId      0
Survived         0
Pclass           0
Name             0
Sex              0
Age            177
SibSp            0
Parch            0
Ticket           0
Fare             0
Cabin          687
Embarked         2
dtype: int64

In [7]:
df_data=df.loc[df.Embarked.notna(),['Survived','Pclass','Sex','Embarked']]

In [8]:
df_data.shape

(889, 4)

In [9]:
df_data.head()

   Survived  Pclass     Sex Embarked
0         0       3    male        S
1         1       1  female        C
2         1       3  female        S
3         1       1  female        S
4         0       3    male        S

In [10]:
from sklearn.preprocessing import OneHotEncoder
ohe = OneHotEncoder(sparse=False)

In [11]:
ohe.fit_transform(df[['Sex']])

array([[0., 1.],
       [1., 0.],
       [1., 0.],
       ...,
       [1., 0.],
       [0., 1.],
       [0., 1.]])

In [12]:
ohe.categories_

[array(['female', 'male'], dtype=object)]

In [10]:
x=df_data.loc[:,['Pclass']]
y=df_data['Survived']

In [22]:
X=df_data.drop('Survived',axis=1)

In [23]:
X.head()

   Pclass     Sex Embarked
0       3    male        S
1       1  female        C
2       3  female        S
3       1  female        S
4       3    male        S

In [24]:
from sklearn.compose import make_column_transformer

In [25]:
column_trans = make_column_transformer((OneHotEncoder(),['Sex','Embarked']),remainder='passthrough')

In [26]:
column_trans.fit_transform(X)

array([[0., 1., 0., 0., 1., 3.],
       [1., 0., 1., 0., 0., 1.],
       [1., 0., 0., 0., 1., 3.],
       ...,
       [1., 0., 0., 0., 1., 3.],
       [0., 1., 1., 0., 0., 1.],
       [0., 1., 0., 1., 0., 3.]])

In [27]:
from sklearn.pipeline import make_pipeline

In [28]:
pipe=make_pipeline(column_trans,logreg)

In [29]:
cross_val_score(pipe,X,y,cv=5,scoring='accuracy').mean()

0.7727924839713071

In [11]:
x.shape

(889, 1)

In [12]:
y.shape

(889,)

In [14]:
#logistic regression
from sklearn.linear_model import LogisticRegression
logreg=LogisticRegression(solver='lbfgs')

In [15]:
from sklearn.model_selection import cross_val_score
cross_val_score(logreg,x,y,cv=5,scoring='accuracy').mean()

0.6783406335301212

In [16]:
y.value_counts(normalize=True)

0    0.617548
1    0.382452
Name: Survived, dtype: float64